<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Excluir.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ControleContatos.styles.css" asp-append-version="true" />
</head>

<body>
    @model ContatoModel
    @{
        ViewData["Title"] = "Confirmação de exclusao";
    }

        <h1> Deseja realmente apagar esse contato(@Model.Nome)?</h1>


    <a class="cancelar_exclusao" role="button" asp-controller="Contato" asp-action="Index">Cancelar</a>
    <a class="confirmar_exclusao" role="button" asp-controller="Contato" asp-action="Apagar">Confirmar</a>

</body>
</html>